
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html{
	 scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color:rgb(240, 240, 240);
	height: 100%;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(120, 120, 120);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 6px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	position:fixed; 
	width:100%;
	z-index: 15;
}

.

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    Work experience card
----------------------------------------------------- */


.card{
	 padding: 10px;
	 margin: 10px;
}

.card img{
	width: 100%; 
    height: auto; 
}

/* ---------------------------------------------------
    Parralax
----------------------------------------------------- */


.parallax {
  height: 600px; 
  background-size: 100% 100%;
  width: 100%;
  margin-top: 40px;
}

/* ---------------------------------------------------
    GALLERY main Hobby
----------------------------------------------------- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 7rem;

	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
	width:80px;
	height: 320px;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	transition: transform 200ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.1);
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
	padding-top:13px;
    position: absolute;
    right: 0;
	overflow: hidden;
	width: 100%;
}

#content-main{
	padding: 40px;	
}

#content-narrow{
	position: absolute;
	left:24%;
	background: rgba(0, 0, 0, 0.8);
	color: #f1f1f1; 
	width: 50%; 
	padding: 60px; 
	transition: all 0.3s;
	overflow: hidden;
}

#content-narrowBig{
	padding: 20px;
	padding-top:45px;
	padding: 60px; 
    position: absolute;
	left:13%;
	overflow: hidden;
	width: 75%;
	
	background: rgba(0, 0, 0, 0.7);
}



/* ---------------------------------------------------
    WebGL container
----------------------------------------------------- */

.containerUnity{
	width: 960px;
	height:600px;
	margin-left:auto;
	margin-right:auto;
	padding-top:15px; 
	padding-bottom:15px;
}

/* ---------------------------------------------------
    PSN Account Image
----------------------------------------------------- */

.psnCard{
	margin-left: auto;
	margin-right: auto; 
	padding-top:15px; 
	width: 40%;   
	display: block;
}

/* ---------------------------------------------------
    Gallery
----------------------------------------------------- */

.gallery-image:hover {
	transform: scale(1.1);
}
/* Slideshow container */
.slideshow-container {
  max-width: 1300px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #f2f2f2;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #6bae76;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* ---------------------------------------------------
   ACCORDION
----------------------------------------------------- */

.accordion {
  background-color: #6bae76;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover {
  background-color: rgba(59, 52, 73);
}

.accordion:after {
  content: '\002B';
  color: rgba(59, 52, 73);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2212";
}

.field {
  padding: 0 18px;
  background: rgba(0, 0, 0, 1);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


/* ---------------------------------------------------
    Portfolio Gallery
----------------------------------------------------- */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 10fr));
  grid-gap: 5em;
}


.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1);
}
/*Raleway*/
.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .2s;
  background: rgba(90,0,10,0.4);
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing a{
	color:white;	
}

.location-listing:hover .location-title {
  opacity: 1;
}

.portfolio-content{
    display: block;
	text-align: center;
}

.portfolio-content .textbackground{
	border-radius: 5px 5px 5px 5px;
	display:inline;
	color: white;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.portfolio-content p{
	text-align: left;
}

.info{
	width: 100%;
	background-color:white;	
	padding: 20px;
}

.info-button{
	padding: 40px;
}

.closebtn {
  position: absolute;
  top: 0px;
  right:10px;
  display: block;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.img-container {
  position: relative;
  display: none;
}

/* ---------------------------------------------------
    PROGRESS BAR
----------------------------------------------------- */

.col {
    width: 95%;
}

#skill {
    list-style: none;
    padding-top: 30px;
}

#skill li {
    margin-bottom: 70px;
    background: #666666;
    height: 10px;
    border-radius: 3px;
    border-left: 2px solid #111;
    border-top: 2px solid #111;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
}

.expand {
    height: 4px;
    background: #ff9900;
    position: absolute;
    box-shadow: 0px 0px 10px 1px #804d00;
}

.c {
    width: 55%;
    -moz-animation: c 2s ease-out;
    -webkit-animation: c 2s ease-out;
}

.git {
    width: 45%;
    -moz-animation: git 2s ease-out;
    -webkit-animation: git 2s ease-out;
}

.unity {
    width: 70%;
    -moz-animation: unity 2s ease-out;
    -webkit-animation: unity 2s ease-out;
}

.pixel {
    width: 60%;
    -moz-animation: pixel 2s ease-out;
    -webkit-animation: pixel 2s ease-out;
}

@-moz-keyframes c {
    0% {
        width: 0px;
    }

    100% {
        width: 55%;
    };
}

@-moz-keyframes git {
    0% {
        width: 0px;
    }

    100% {
        width: 45%;
    };
}

@-moz-keyframes unity {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    };
}

@-moz-keyframes pixel {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    };
}

@keyframes load {
    0%{
        opacity: 0.08;
/*         font-size: 10px; */
/* 				font-weight: 400; */
				filter: blur(5px);
				letter-spacing: 3px;
        }
    100%{
/*         opacity: 1; */
/*         font-size: 12px; */
/* 				font-weight:600; */
/* 				filter: blur(0); */
        }
}

/* ---------------------------------------------------
    Footer
----------------------------------------------------- */

footer{
	margin-top:50px;
	height:200px;
	width:100%;
	bottom:0;
	z-index:-1;
	background: rgba(59, 52, 73);
}

footer p{
	color: rgb(240, 240, 240);
}

footer a{
	color: rgb(240, 240, 240);	
	display: inline-block;
	text-align: center;
}

footer a:hover,
a:focus {
    color: #ffb84d;
}

.footer-wrapper{
	width:1200px;
	margin: 0 auto;
}

.single-footer{
	width: 33%;
	float:left;
	text-align:center;
}


/* ---------------------------------------------------
    Firefly
----------------------------------------------------- */

#pixie {
  z-index:-10;
  position: absolute;
  top: 0;
  left: 0;
}

/* ---------------------------------------------------
    Header
----------------------------------------------------- */


h1 {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #6bae76;
}

.bigHeaderFont{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #6bae76;
	font-size:50px;
}

h2 {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 15px;
	color: #6bae76;
}

.smallHeaderFont{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 15px;
	color: #6bae76;
	font-size:35px;
}

h3 {
	padding-top: 25px;
	color: #6bae76;
}

.social {
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
	margin: 5px 2px;
	}

/* ---------------------------------------------------
    Video full screen
----------------------------------------------------- */

#fullVideo{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

.fullImage{
background: url(img/Rabbit/RabbitsBackground.png) center center cover no-repeat fixed;
}
	
	/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
